---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

.bio-image {
    height: auto;
    width: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-border {
    border: 1px solid #000000;
}

.text-center {
   text-align: center;
}

.text-left {
    text-align: left;
}

.text-h1 {
    font-size: 2em;
    margin-bottom: 0em;
}

.text-h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #d0d0d0;
}

.experience-heading {
    font-weight: normal;
    text-align: center;
    margin-bottom: 0em;
}

.experience-heading-bold {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0em;
}

.experience-heading-small {
    font-size: 0.8em;
    font-style: italic;
    // line-height: 0.5;
}

.experience-arrow {
    font-weight: normal;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
}

// .experience-bullets {
//     padding-left: 6em;
//     padding-right: 6em;
//     font-weight: normal;
//     font-size: 0.8em;
//     list-style-type: circle;
// }

// .experience-bullets2 {
//     // padding-left: 6em;
//     // padding-right: 6em;
//     font-weight: normal;
//     font-size: 0.8em;
//     list-style-type: circle;
//     padding-inline-start: 1em;
//     font-style: normal;
// }
.experience-text {
    font-weight: normal;
    font-size: 0.8em;
    font-style: normal;
}

.experience-logo {
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.experience-logo2 {
    height: auto;
    width: 100%;
    max-width: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    display: block;
}
@media screen and (max-width: 600px) {
    .experience-logo2 {
        margin-left: auto;
        margin-right: auto;
    }
}


.experience-table {
    height: auto;
    display: table;
}
.experience-row {
    width: 100%; 
    height: 100%;
    display: table-row;
}

.experience-left {
    vertical-align: middle;
    float: left;
    height: 100%;
    width: 20%;
    // padding: 1em;
    display: table-column;
}
.experience-right {
    // vertical-align: top;
    float: left;
    width: 80%;
    // padding-top: 1em;
    padding-bottom: 2em;
    display: table-column;
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 600px) {
    .experience-left, .experience-right {
        width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
    }
}



.btn-bottom {
    position:absolute;
    bottom: 0;
    left: 0;
}

// For Tablets
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .experience-bullets {
        padding-left: 4em;
        padding-right: 4em;
    }
    .experience-logo {
        height: 45px;
    }
    .bio-image{
        width: 25%;
    }
}

// For Mobile
@media screen and (max-width: 600px) {
    .experience-bullets {
        padding-left: 2em;
        padding-right: 2em;
    }
    .experience-logo {
        height: 40px;
    }
    .bio-image{
        width: 35%;
    }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Customising existing elements
h2.archive__item-title {
    font-size: 1.0em;
}

hr {
    border: 1px solid #d0d0d0
}

.feature__wrapper {
    border-bottom: 0
}

#main {
    max-width: 1024px;
}

.page__content .bio-text {
    font-weight: normal;
    font-size: 0.8em;
}

.bio-padding {
    padding-bottom: 2em;
}

.page__content .experience-heading {
    margin-bottom: 0.5em;
}

.page__content .project-text {
    font-weight: normal;
}

.masthead__inner-wrap {
    max-width: 1024px;
}

.section-heading {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

table {
    font-size: 0.8em;
}

// .project-text {
//     font-size: 1em;
// }